@font-face {  
	font-family: "batho";  
	src: url("font/batho.ttf") format("truetype");
	font-weight: normal;
    font-style: normal;
}
body,div,p,ul,li,article,section,span,h1,a{ 
	margin:0; padding:0;
}
body{
	font-size:14px; background:#f8f8f8; font-family:BentonSans,"Lucida Sans","Lucida Grande",sans-serif; color:#666;
	-webkit-font-smoothing:antialiased;
}
a{text-decoration:none;color:#222;}
ul,li{ list-style:none; }
img{ border:none; }



#nav{
	width:220px;left:55px;top:0;position:fixed;background:#fff;padding-bottom:20px;
}
#nav .logo{
	width:100%;height:100px;background:#3cf;color:#fff;text-align:center;margin-bottom:20px;
}
#nav .logo p:nth-child(1){
	font-size:70px;line-height:70px;
	font-family:batho,Microsoft YaHei,Helvetica,Hiragino Sans GB,Arial,sans-serif;
}
#nav li{
	padding:0 20px;font-size:0;height:40px;position:relative;margin-bottom:0;
}
#nav li a{
	display:block;font:14px/39px Arial;border-bottom:1px solid #f8f8f8;text-indent:10px;overflow:hidden;
}
#nav li:hover,
#nav li.hover{background:#f8f8f8;}
#nav li:hover a,
#nav li.hover a{border:none;color:#3cf;}
#nav li:hover:before,
#nav li.hover:before{
	content:"";display:block;width:8px;height:40px;background:#3cf;position:absolute;left:-8px;top:0;
}







#container{ width:800px; margin:0 auto; }
#container h1{ font-size:50px; font-weight:100; }
li{ margin-bottom:10px; }

.input li{ display:inline-block; width:50%; }
.input p{ font:12px/30px sans-serif; }
.input input{ background:none; border:none; outline:none; height:30px; padding:5px; border-bottom:1px solid #bbb; width:250px; }
.input input:focus{ background:#f8f8f8; border-bottom:1px solid #fff; }


footer{
}