@font-face {  
	font-family: "batho";  
	src: url("font/batho.ttf") format("truetype");
	font-weight: normal;
    font-style: normal;
}
body,div,p,ul,li,article,section,span,h1{ 
	margin:0; padding:0;
}
body{
	font-size:12px; background:#f8f8f8; font-family:BentonSans,"Lucida Sans","Lucida Grande",sans-serif; color:#666;
	-webkit-font-smoothing:antialiased;
}
ul,li{ list-style:none; }
img{ border:none; }



#nav{
	width:220px;left:55px;top:0;position:fixed;background:#fff;height:100px;
}
#nav .logo p{
	width:100%;height:100px;background:#3cf;color:#fff;font-size:70px;
	font-family:batho,Microsoft YaHei,Helvetica,Hiragino Sans GB,Arial,sans-serif;
}









#container{ width:800px; margin:0 auto; }
#container h1{ font-size:50px; font-weight:100; }
li{ margin-bottom:10px; }

.input li{ display:inline-block; width:50%; }
.input p{ font:12px/30px sans-serif; }
.input input{ background:none; border:none; outline:none; height:30px; padding:5px; border-bottom:1px solid #bbb; width:250px; }
.input input:focus{ background:#f8f8f8; border-bottom:1px solid #fff; }


footer{
}